SPRING_PROFILES_ACTIVE=dev
MONGO_URI=mongodb://root:example@mongo:27017/fosso_db?authSource=admin
MONGO_DATABASE=fosso_db
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example
JWT_SECRET=change-me-dev-secret
JWT_EXPIRATION=86400000
SERVER_PORT=8080
