SPRING_PROFILES_ACTIVE=test
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/?retryWrites=true&w=majority
MONGO_DATABASE=fosso_db
JWT_SECRET=change-me-test-secret
JWT_EXPIRATION=86400000
SERVER_PORT=8080
